$color-info: #21A8F4;
$color-info-hover: #2ca0e2;

$color-danger: #F0483E;
$color-danger-hover: #d5463e;
$color-error: #f1a7a7;

$color-warning: #FED600;
$color-warning-hover: #e4c40f;

$color-success: #009099;
$color-success-hover: #1497a0;

$color-dark-grey: #1D242E;
$color-black: #1D242E;

$color-grey: #283342;
$color-white1: #ffffff;
$color-white2: #F7FAFD;
$color-white1-hover: #f2f2f2;
$color-opacity: rgba(29, 36, 46, 0.5);
$color-link: #03A9F5;
$color-text: #DAD4D4;

$color-input-placeholder: #918787;
$color-loader-bg: rgba($color-black, 0.5);
$color-input: #E3EBF3;
$color-background: #EDF1F5;