@font-face {
  font-family: "Poppins-regular";
  src: url(@/assets/fonts/Poppins-Regular.ttf) format(ttf);
  font-weight: 400;
}
@font-face {
  font-family: "Poppins-medium";
  src: url(@/assets/fonts/Poppins-Medium.ttf) format(ttf);
  font-weight: 500;
}
@font-face {
  font-family: "Poppins-bold";
  src: url(@/assets/fonts/Poppins-Bold.ttf) format(ttf);
  font-weight: 700;
}

