.text-ellipsis {
  width: 100%;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.desktop-only {
  @media (max-width: $lg) {
    display: none;
  }
}
.mobile-only {
  @media (min-width: $lg) {
    display: none;
  }
}

h1 {
  font-size: 24px !important;
  @media (max-width: $sm) {
    font-size: 21px !important;
  }
}

h2 {
  font-size: 18px;
}

p {
  font-size: 12px;
  line-height: 12px;
  font-weight: $PoppinsRG;
}
// Link
a {
  color: $color-cyan;

  &:link {
    text-decoration: none;
  }
  &:visited {
    text-decoration: none;
  }
  &:hover {
    text-decoration: underline;
  }
  &:active {
    text-decoration: underline;
  }
}
// Transition
.toggle-content-enter-active,
.toggle-content-leave-active {
  transition: all 0.2s ease;
}
.toggle-content-enter-from,
.toggle-content-leave-to {
  opacity: 0;
  transform: scale(1.1);
}