// Sign-in / Sign-up
@mixin auth-window {
  width: 100%;
  min-height: 100%;
  background: linear-gradient(4deg, $color-yellow2, $color-dark-blue2);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

// Responsive
@mixin mobile($direction) {
  @if($direction == min) {
    @media screen and (min-width: $sm) {
      @content;
    }
  }
  @else {
    @media screen and (max-width: $sm) {
      @content;
    }
  }
}

@mixin desktop($direction) {
  @if($direction == min) {
    @media screen and (min-width: $xl) {
      @content;
    }
  }
  @else {
    @media screen and (max-width: $xl) {
      @content;
    }
  }
}

@mixin tablet($direction) {
  @if($direction == min) {
    @media screen and (min-width: $md) {
      @content;
    }
  }
  @else {
    @media screen and (max-width: $md) {
      @content;
    }
  }
}

@mixin responsive($responsive, $direction) {
  @if($direction == min) {
    @media screen and (min-width: $responsive) {
      @content;
    }
  }
  @else {
    @media screen and (max-width: $responsive) {
      @content;
    }
  }
}