:root {
  --color-dark: #181a1d;
  --color-light: #edf1f5;

  --color-light-secondary: #f7fafd;
  --color-dark-secondary: #161f2b;

  --color-light-border-card: #c0c2c4;
  --color-dark-border-card: #edf1f5;

  --color-light-background-card: #ffffff;
  --color-dark-background-card: #2b2e33;

  --color-light-modal-background: #edf1f5;
  --color-dark-modal-background: #010101;

  --color-light-input: #ffffff;
  --color-dark-input: #010409;

  --color-light-notification-read: #e7e7e7;
  --color-dark-notification-read: transparent;

  --color-light-notification-border: transparent;
  --color-dark-notification-border: #30363d;

  --color-dark-notification-background-new: #062b4e;
  --color-light-notification-background-new: #bdd6ee;

  --color-disable-light: #bdc4d5;
  --color-disable-dark: #69727e;

  --color-dashboard-card-light: #c5f7ff;
  --color-dashboard-card-dark: #303256;

  --color-background-task-light: #ffffff;
  --color-background-task-dark: #22272b;

  --color-hover-background-task-card-light: #f4f3f3;
  --color-hover-background-task-card-dark: #212528;
}

// Dark theme.
body[data-theme="dark"] {
  --color-background-secondary: var(--color-dark-secondary);
  --color-background: var(--color-dark);
  --color-scroll-track-invert: var(--color-dark);
  --color-text: var(--color-light);
  --color-scroll-track: var(--color-light-secondary);
  --color-input: var(--color-light-input);
  --color-border-card: var(--color-dark-border-card);
  --color-background-card: var(--color-dark-background-card);
  --color-background-notification: var(--color-dark-notification-read);
  --color-border-notification: var(--color-dark-notification-border);
  --color-background-notification-new: var(--color-dark-notification-background-new);
  --color-background-modal: var(--color-dark-modal-background);
  --color-disable: var(--color-disable-dark);
  --color-dashboard-card: var(--color-dashboard-card-dark);
  --color-background-task: var(--color-background-task-dark);
  --color-hover-background-task-card: var(--color-hover-background-task-card-dark);
}

// Light theme.
body[data-theme="light"] {
  --color-background-secondary: var(--color-light-secondary);
  --color-background: var(--color-light);
  --color-scroll-track: var(--color-dark-secondary);
  --color-scroll-track-invert: var(--color-light);
  --color-text: var(--color-dark);
  --color-input: var(--color-dark-input);
  --color-border-card: var(--color-light-border-card);
  --color-background-card: var(--color-light-background-card);
  --color-background-notification: var(--color-light-notification-read);
  --color-border-notification: var(--color-light-notification-border);
  --color-background-notification-new: var(--color-light-notification-background-new);
  --color-background-modal: var(--color-light-modal-background);
  --color-disable: var(--color-disable-light);
  --color-dashboard-card: var(--color-dashboard-card-light);
  --color-background-task: var(--color-background-task-light);
  --color-hover-background-task-card: var(--color-hover-background-task-card-light);
}
