.toggle-text-enter-active {
  transition: opacity 300ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
}
.toggle-text-leave-active {
  transition: opacity 225ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.toggle-text-enter,
.toggle-text-leave-to {
  opacity: 0;
}
.toggle-content-enter-active,
.toggle-content-leave-active {
  transition: all 0.2s ease;
}

.toggle-content-enter-from,
.toggle-content-leave-to {
  opacity: 0;
  transform: scale(1.1);
}
.error-message-enter-active,
.error-message-leave-active {
  transition: opacity 0.2s ease;
}

.error-message-enter-from,
.error-message-leave-to {
  opacity: 0;
}
.swap-buttons-enter-active, .swap-buttons-leave-active {
  transition: opacity .3s ease;
}
.swap-buttons-enter, .swap-buttons-leave-to {
  opacity: 0;
}