@import "./fonts";

$color-blue: #21a8f4;
$color-dark-blue: #2d72c7;
$color-dark-blue2: #4f5e7d;

$color-cyan: #03a9f5;
$color-blue-hover: #2ca0e2;
$color-light-blue: #bdd6ee;

$color-red: #f0483e;
$color-red-hover: #d5463e;

$color-yellow: #fed600;
$color-yellow2: #dfbeaf;
$color-yellow-hover: #e4c40f;

$color-green: #2ed47a;
$color-green-hover: #15a339;

$color-pink: #f1a7a7;

// Dark
$color-light-grey: #455162;
$color-black: #181a1d;
$color-dark-grey: #1d242e;
$color-dark-grey2: #2f3a49;
$color-dark-grey3: #3e4957;
$color-dark-grey4: #626c7a;
$color-dark-grey5:#7d7c7c;
$color-grey: #283342;
$color-light-brown: #7e7575;
$color-transp-black: rgba(55, 63, 73, 0.8);
$color-brown: #918787;
$color-dark-green: #2e962e;

// Light
$color-white1: #e3ebf3;
$color-white2: #f7fafd;
$color-white3: #ffffff;
$color-white4: #edf1f5;
$color-white5: #dad4d4;

// Fonts
$RobotoRG: "Roboto-regular", sans-serif;
$RobotoBD: "Roboto-bold", sans-serif;

// Breakpoints
$min-width: 320px;
$tiny: 400px;
$us: 480px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xs: 1024px;
$xl: 1200px;
$xxl: 1368px;
$custom-large: 1600px;
