@import "./fonts";

$color-info: #21a8f4;
$color-info-hover: #2ca0e2;
$color-dark-blue: #2d72c7;

$color-danger: #f0483e;
$color-danger-hover: #d5463e;

$color-error: #f1a7a7;
$color-yellow: #fed600;

$color-yellow-hover: #e4c40f;
$color-green: #2ed47a;
$color-green-hover: #1497a0;

$color-dark-grey: #1d242e;
$color-black: #000000;
$color-grey: #283342;
$color-light-brown: #7e7575;
$color-white1: #acacac;
$color-white2: #f7fafd;
$color-white3: #f2f2f2;
$color-white4: #e3ebf3;
$color-white5: #edf1f5;
$color-transp-black: rgba(29, 36, 46, 0.5);
$color-cyan: #03a9f5;
$color-text: #dad4d4;
$color-brown: #918787;

// Fonts
$PoppinsRG: "Poppins-regular", sans-serif;
$PoppinsMD: "Poppins-medium", sans-serif;
$PoppinsBD: "Poppins-bold", sans-serif;

// Breakpoints
$us: 480px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
