.c-button {
  outline: none;
  border: none;
  border-radius: 4px;
  color: $color-white2;
  border-bottom: 1px solid transparent;
  transition: all 0.2s ease-in-out;
  &:hover {
    color: $color-white3;
  }
  &:disabled {
    pointer-events: none;
    filter: grayscale(60%);
  }
  // Variant
  &--info {
    background-color:  $color-info;
    &:hover {
      background-color: $color-info-hover;
    }
  }
  &--danger {
    background-color: $color-danger;
    &:hover {
      background-color: $color-danger-hover;
    }
  }
  &--warning {
    background-color: $color-warning;
    &:hover {
      background-color: $color-warning-hover;
    }
  }
  &--success {
    background-color: $color-success;
    &:hover {
      background-color: $color-success-hover;
    }
  }
  &--transparent {
    border-radius: 0;
    background-color: transparent;
    margin: 0 5px;
    color: $color-text;
    &.active {
      color: $color-white2;
      border-color: $color-warning;
    }
    &:hover {
      background-color: transparent;
    }
  }
  // Size
  &--sm {
    padding: 5px;
    font-size: 12px;
  }
  &--md {
    padding: 10px;
    font-size: 16px;
  }
  &--lg {
    padding: 12px;
    font-size: 18px;
  }
}