@import "@/assets/scss/mixins";
.forgot-page {
  @include auth-window;
  &__window {
    position: relative;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 1px $color-grey;
    background-color: $color-black;
    color: $color-text;
    max-width: 350px;
    &-header {
      margin-bottom: 20px;
      p{ 
        margin-top: 10px;
      }
    }
    &-content {
      text-align: end;
      .c-button { 
        padding: 5px 20px;
      }
      .c-input {
        &::placeholder {
          font-size: 14px;
        }
      }
    }
    &--go-back {
      text-align: center;
      color: $color-info;
      font-size: 12px;
      display: block;
      margin: 20px 0 10px 0;
      text-align: center;
      transform: color 0.3s ease;
      &:hover {
        color: $color-info-hover;
        text-decoration: none;
      }
    }
    @media (max-width: $sm ) {
      height: 100vh;
      min-width: 100%;
      border-radius: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      min-height: 330px;
      &-content {
        .c-button { 
          position: absolute;
          bottom: 15px;
          left: 10px;
          padding: 10px;
          font-size: 14px;
          width: calc(100% - 20px);
        }
      }
    }
  }
}


